$size__site-main: 100%;
$size__site-sidebar: 25%;

.container-lg {
    max-width: 1200px;
}

/* Sections
-------------------------------*/

section {
    padding: 3em 0;
}

@media (min-width: 768px) {

    section {
        padding: 3em 0;
    }
}

@media (min-width: 992px) {

    section {
        padding: 4em 0;
    }
}

@media (min-width: 1200px) {

    section {
        padding: 6em 0;
    }
}